# Node modules
node_modules/

# Output folder
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS/system files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.swp

# PM2 logs
.pids/
*.pid

# Test coverage
coverage/

# Jest snapshots
*.snap
